# Scraper de las url para PBD1

La url de prueba de la cual se va a realizar el scraper es la siguiente:

https://adamprotectora.org/listado

In [2]:
# Importación de las librerías a utilizar:
import requests
import urllib
import pandas as pd
from lxml import html # lxml es para parsear html

In [31]:
# Proceso de web scraping
pagina= requests.get('https://adamprotectora.org/listado')
arbol_html= html.fromstring(pagina.text)
codigos= arbol_html.xpath("//*[@id='principal_contenidos']/div")
objeto_edad= arbol_html.xpath("//*[@id='principal_contenidos']/div/div/div[1]/p[1]/text()")
objeto_raza= arbol_html.xpath("//*[@id='principal_contenidos']/div/div/div[1]/p[2]/text()")
objeto_sexo= arbol_html.xpath("//*[@id='principal_contenidos']/div/div/div[1]/p[3]/text()")

['  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho']

In [33]:
# Array para creación del DataFrame de los datos obtenidos
array_datos= [objeto_edad,objeto_raza,objeto_sexo]
print(array_datos)

[[' 2 años', ' 2 años y 1 mes', ' 3 años y 4 meses', ' 4 años y 5 meses', ' 9 años', ' 11 años'], [' x pastor border colie', ' x american stanfford con ... ?', ' xlabrador', ' pastor aleman', ' american staffordshire', ' x american sttafford'], ['  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho', '  ♂ Macho']]

In [35]:
# Paso de array a DataFrame
df= pd.DataFrame(array_datos).transpose()
df

                   0                                1          2
0             2 años            x pastor border colie    ♂ Macho
1     2 años y 1 mes   x american stanfford con ... ?    ♂ Macho
2   3 años y 4 meses                        xlabrador    ♂ Macho
3   4 años y 5 meses                    pastor aleman    ♂ Macho
4             9 años           american staffordshire    ♂ Macho
5            11 años             x american sttafford    ♂ Macho

In [39]:
# Cambio de nombre de las columnas del DataFrame
df.columns = ['Edad', 'Raza', 'Sexo']
df

                Edad                             Raza       Sexo
0             2 años            x pastor border colie    ♂ Macho
1     2 años y 1 mes   x american stanfford con ... ?    ♂ Macho
2   3 años y 4 meses                        xlabrador    ♂ Macho
3   4 años y 5 meses                    pastor aleman    ♂ Macho
4             9 años           american staffordshire    ♂ Macho
5            11 años             x american sttafford    ♂ Macho